.listItems{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.lists{
    width: 100%;
    background-color: rgba(182, 170, 170, 0.35);
    margin: 10px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lists1{
    padding: 5px;
}
.taskLisks{
    color: white;
    text-decoration: none;
}

.lists12{
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    align-items: center;
    display: flex;
    color: red;
}
.l23{
    display: flex;
}