.tasks{
    padding: 7px 20px;
    background-color: rgba(116, 111, 111, 0.199);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-radius: 7px;
}
.taskItems{
    padding: 10px;
    position: relative;
    height: auto;
}
.editTask{
    margin: 5px;
    cursor: pointer;
    padding: 5px;
}
.areas{
    height: auto;
    padding: 10px
}
.updateinput{
    padding: 6px 20px;
    width:100%;
    height: auto;
}
.updateinput:focus{
    outline: none;
}
.notificationbord{
    position: absolute; 
    left: 20%;
    margin-top: 120px;
    font-size: 100px;
    transform: rotate(-40deg);
    color: rgba(255, 255, 255, 0.402);
}
.checkStyle{
    opacity: .5;
    text-decoration: line-through;
}
.notificationbord-1{
    margin-top: 120px;
    font-size: 70px;
    transform: rotate(-40deg);
    color: rgba(255, 255, 255, 0.402);
}