.homepage{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: auto;
    background-color: rgba(10, 7, 43, 0.928);
    border-radius: 5px;
}
.homeItem{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: auto;

}
.tasktittle{
    color: white;
}
.listTittle{
    color: white;
}
.setting{
    color: white;
    background-color: blue;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    margin: 4px;
}

.setting1{
    color: white;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
}
.sname{
    border-bottom: 1px solid white;
    padding: 5px;
    /* border-radius: 5px; */
    font-size: 17px;
    margin-top: -30px;
}
.de{
    /* color: red; */
}
.homeBody{
    width: 100%;
    border: 1px solid white;
    min-height: 60vh;
    color: white;
    display: flex;
  
}
.homeSidebar{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(82, 79, 79, 0.645);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   
}
.HomeTaskContainer{
    width: 80%;
    height: auto;
    
}
.CreatelistItem{
    color: white;
    margin-left: 60px;
    background-color: blue;
    padding: 6px 10px;
    cursor: pointer;
}
.bodyBottom{
    width: 100%;

}
.createList{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 90%;
}
.createTask{
    color: white;
    margin-right: 60px;
    background-color: blue;
    padding: 6px 10px;
    cursor: pointer;
}
.tt{
    color: rgb(2, 99, 255);
    font-weight: 600;
}
@media (max-width:850px) {

.homeItem{
    width: 90%;
}
.homeContainer{
    width: 100%;
}
.homeSidebar{
    width: 100%;
    font-size: 13px;
   
}
.bodyBottom{
    width: 100%;

}
.homeBody{
    flex-direction: column;
}
.listTittle{
    display: none;
}
.tasktittle{
    display: none;
}
.divUSer{
    /* position: relative; */
}
.de{
   position: absolute;
   right: 40px;
}
.fe{
   position: absolute;
   right: 10px;
}
.taskItems{
    width: 100%;
    padding: 0;
}
.tasks{
    width: 100%;
}
.notic{
   
    width: 100%;
    text-align: center;
    padding: 10px;
}
.niticmeassage{
    color: rgb(12, 37, 227);
    font-size: 17px;
    text-align: center;
}
.notificationbord {
    position: absolute;
    left: 20%;
    margin-top: 120px;
    font-size: 50px;
    transform: rotate(-40deg);
    color: rgba(255, 255, 255, 0.402);
}
.fdata{
    flex-wrap: wrap;
}
.createList{
    flex-wrap: wrap;
}
.assTask{
    flex-direction: column;
}

}